header nav, main {
    background-color: #1d1c44;
}

.text-nav-link {
    font-size: 1.4vw;
}

svg {
    vertical-align: bottom !important;
}

@media only screen and (max-width: 768px) {
    .text-nav-link {
        font-size: 1rem;
    }
}